{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block content %}
    <h1 class="text-center display-2 text-uppercase">Changement de mot de passe</h1>
    <hr>
    <a href="{{ path('app_account') }}">Retourner sur mon compte</a>
    <hr>
    {{ form(form) }}
{% endblock %}
