{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block content %}
    <h1 class="text-center display-2 text-uppercase">Inscription</h1>

    {{ form(form) }}
{% endblock %}